<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="saveCashBankApp.transaction.home.createOrEditLabel"
          data-cy="TransactionCreateUpdateHeading"
          v-text="$t('saveCashBankApp.transaction.home.createOrEditLabel')"
        >
          Create or edit a Transaction
        </h2>
        <div>
          <div class="form-group" v-if="transaction.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="transaction.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.transaction.currencyUnit')" for="transaction-currencyUnit"
              >Currency Unit</label
            >
            <input
              type="text"
              class="form-control"
              name="currencyUnit"
              id="transaction-currencyUnit"
              data-cy="currencyUnit"
              :class="{ valid: !$v.transaction.currencyUnit.$invalid, invalid: $v.transaction.currencyUnit.$invalid }"
              v-model="$v.transaction.currencyUnit.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.transaction.date')" for="transaction-date">Date</label>
            <input
              type="text"
              class="form-control"
              name="date"
              id="transaction-date"
              data-cy="date"
              :class="{ valid: !$v.transaction.date.$invalid, invalid: $v.transaction.date.$invalid }"
              v-model="$v.transaction.date.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.transaction.invoice')" for="transaction-invoice">Invoice</label>
            <select class="form-control" id="transaction-invoice" data-cy="invoice" name="invoice" v-model="transaction.invoice">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="transaction.invoice && invoiceOption.id === transaction.invoice.id ? transaction.invoice : invoiceOption"
                v-for="invoiceOption in invoices"
                :key="invoiceOption.id"
              >
                {{ invoiceOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.transaction.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./transaction-update.component.ts"></script>
