<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="credit">
        <h2 class="jh-entity-heading" data-cy="creditDetailsHeading">
          <span v-text="$t('saveCashBankApp.credit.detail.title')">Credit</span> {{ credit.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('saveCashBankApp.credit.score')">Score</span>
          </dt>
          <dd>
            <span>{{ credit.score }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.credit.name')">Name</span>
          </dt>
          <dd>
            <span>{{ credit.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.credit.time')">Time</span>
          </dt>
          <dd>
            <span>{{ credit.time }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.credit.currencyUnit')">Currency Unit</span>
          </dt>
          <dd>
            <span>{{ credit.currencyUnit }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.credit.invoice')">Invoice</span>
          </dt>
          <dd>
            <div v-if="credit.invoice">
              <router-link :to="{ name: 'InvoiceView', params: { invoiceId: credit.invoice.id } }">{{ credit.invoice.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="credit.id" :to="{ name: 'CreditEdit', params: { creditId: credit.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./credit-details.component.ts"></script>
