<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="saveCashBankApp.invoice.home.createOrEditLabel"
          data-cy="InvoiceCreateUpdateHeading"
          v-text="$t('saveCashBankApp.invoice.home.createOrEditLabel')"
        >
          Create or edit a Invoice
        </h2>
        <div>
          <div class="form-group" v-if="invoice.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="invoice.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.invoice.score')" for="invoice-score">Score</label>
            <input
              type="text"
              class="form-control"
              name="score"
              id="invoice-score"
              data-cy="score"
              :class="{ valid: !$v.invoice.score.$invalid, invalid: $v.invoice.score.$invalid }"
              v-model="$v.invoice.score.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.invoice.currencyUnit')" for="invoice-currencyUnit"
              >Currency Unit</label
            >
            <input
              type="text"
              class="form-control"
              name="currencyUnit"
              id="invoice-currencyUnit"
              data-cy="currencyUnit"
              :class="{ valid: !$v.invoice.currencyUnit.$invalid, invalid: $v.invoice.currencyUnit.$invalid }"
              v-model="$v.invoice.currencyUnit.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.invoice.user')" for="invoice-user">User</label>
            <select class="form-control" id="invoice-user" data-cy="user" name="user" v-model="invoice.user">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="invoice.user && userOption.id === invoice.user.id ? invoice.user : userOption"
                v-for="userOption in users"
                :key="userOption.id"
              >
                {{ userOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.invoice.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./invoice-update.component.ts"></script>
