<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="payment">
        <h2 class="jh-entity-heading" data-cy="paymentDetailsHeading">
          <span v-text="$t('saveCashBankApp.payment.detail.title')">Payment</span> {{ payment.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('saveCashBankApp.payment.name')">Name</span>
          </dt>
          <dd>
            <span>{{ payment.name }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.payment.bankAccountNumber')">Bank Account Number</span>
          </dt>
          <dd>
            <span>{{ payment.bankAccountNumber }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.payment.scoreNumber')">Score Number</span>
          </dt>
          <dd>
            <span>{{ payment.scoreNumber }}</span>
          </dd>
          <dt>
            <span v-text="$t('saveCashBankApp.payment.invoice')">Invoice</span>
          </dt>
          <dd>
            <div v-if="payment.invoice">
              <router-link :to="{ name: 'InvoiceView', params: { invoiceId: payment.invoice.id } }">{{ payment.invoice.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="payment.id" :to="{ name: 'PaymentEdit', params: { paymentId: payment.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./payment-details.component.ts"></script>
