<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="saveCashBankApp.contribution.home.createOrEditLabel"
          data-cy="ContributionCreateUpdateHeading"
          v-text="$t('saveCashBankApp.contribution.home.createOrEditLabel')"
        >
          Create or edit a Contribution
        </h2>
        <div>
          <div class="form-group" v-if="contribution.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="contribution.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.contribution.name')" for="contribution-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="contribution-name"
              data-cy="name"
              :class="{ valid: !$v.contribution.name.$invalid, invalid: $v.contribution.name.$invalid }"
              v-model="$v.contribution.name.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.contribution.score')" for="contribution-score">Score</label>
            <input
              type="number"
              class="form-control"
              name="score"
              id="contribution-score"
              data-cy="score"
              :class="{ valid: !$v.contribution.score.$invalid, invalid: $v.contribution.score.$invalid }"
              v-model.number="$v.contribution.score.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.contribution.time')" for="contribution-time">Time</label>
            <input
              type="text"
              class="form-control"
              name="time"
              id="contribution-time"
              data-cy="time"
              :class="{ valid: !$v.contribution.time.$invalid, invalid: $v.contribution.time.$invalid }"
              v-model="$v.contribution.time.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.contribution.currencyUnit')" for="contribution-currencyUnit"
              >Currency Unit</label
            >
            <input
              type="text"
              class="form-control"
              name="currencyUnit"
              id="contribution-currencyUnit"
              data-cy="currencyUnit"
              :class="{ valid: !$v.contribution.currencyUnit.$invalid, invalid: $v.contribution.currencyUnit.$invalid }"
              v-model="$v.contribution.currencyUnit.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('saveCashBankApp.contribution.invoice')" for="contribution-invoice">Invoice</label>
            <select class="form-control" id="contribution-invoice" data-cy="invoice" name="invoice" v-model="contribution.invoice">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="contribution.invoice && invoiceOption.id === contribution.invoice.id ? contribution.invoice : invoiceOption"
                v-for="invoiceOption in invoices"
                :key="invoiceOption.id"
              >
                {{ invoiceOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.contribution.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./contribution-update.component.ts"></script>
